.navbar {
  position: relative;
  width: 100vw;
  height: 4rem;
  display: flex;
  padding: 1rem 3rem;
  justify-content: space-between;
  align-items: center;
  line-height: 2rem;
  font-weight: 500;

  // .navbarLeft {
  // }
  .navbarRight {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
}

.rainbow {
  height: 4px;
  width: 100%;
  background: linear-gradient(
    270deg,
    #ff6f6f,
    #f9a857 18.75%,
    #80ce1c 36.98%,
    #51c0c0 55.73%,
    #62b0ff 75%,
    #816dff
  );
}
